version: "3.8"

services:
  backend:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - ./.env
    environment:
      REDIS_URL: redis://redis:6379
    depends_on:
      - redis

  redis:
    image: redis/redis-stack-server:latest
    ports:
      - "6379:6379"